<main>
  <section class="lastest">
    <div class="container">
      <h1 class="big-title">Latest & Greatest</h1>
      <div class="about-icons">
        <a routerLink="">
          <i class="about-icon bx bxs-home"></i>
        </a>
        <span> / Blog Details</span>
      </div>
    </div>
  </section>
  <section class="blogs">
    <div class="container">
      <div class="blogs-lastest">
        <div class="blogs-sidebar">
          <div class="blogs-search">
            <input type="text" class="blogs-input" placeholder="Search" />
            <a routerLink="#" class="blogs-btn">
              <i class="bx bx-search"></i>
            </a>
          </div>
          <div class="blogs-categories">
            <h2>Categories</h2>
            <div class="categories-item is-focus">
              <span>Furniture</span>
              <span>(06)</span>
            </div>
            <div class="categories-item">
              <span>Fashion</span>
              <span>(09)</span>
            </div>
            <div class="categories-item">
              <span>Life style</span>
              <span>(02)</span>
            </div>
            <div class="categories-item">
              <span>Toy</span>
              <span>(07)</span>
            </div>
            <div class="categories-item">
              <span>Photography</span>
              <span>(05)</span>
            </div>
          </div>
          <div class="blogs-recent">
            <h2>Recent Posts</h2>
            <div class="recent-item">
              <img src="../../../../assets/images/img36.png" alt="" />
              <div>
                <h3>Sweater For Winter</h3>
                <span>April 01 , 2022</span>
              </div>
            </div>
            <div class="recent-item">
              <img src="../../../../assets/images/img37.png" alt="" />
              <div>
                <h3>Summer Fashion</h3>
                <span>April 01 , 2022</span>
              </div>
            </div>
            <div class="recent-item">
              <img src="../../../../assets/images/img38.png" alt="" />
              <div>
                <h3>Best Beach Outfits</h3>
                <span>April 01 , 2022</span>
              </div>
            </div>
            <div class="recent-item">
              <img src="../../../../assets/images/img39.png" alt="" />
              <div>
                <h3>Sweater For Winter</h3>
                <span>April 01 , 2022</span>
              </div>
            </div>
          </div>
          <div class="blogs-newsletter">
            <h2>Newsletter</h2>
            <div class="blogs-newsletter--search">
              <input
                type="text"
                class="blogs-newsletter--input"
                placeholder="Enter your email"
              />
              <a routerLink="#" class="blogs-newsletter--btn">Subscribe</a>
            </div>
          </div>
          <div class="blogs-tags">
            <h2>Tags</h2>
          </div>
        </div>
        <div class="blog">
          <div class="blog-item">
            <img
              src="../../../../assets/images/img30.png"
              alt=""
              class="blog-img"
            />
            <h2 class="blog-title">Sweater For Winter</h2>
            <span class="blog-time">April 01 , 2022</span>
            <p class="blog-desc">
              The denim resurgence is the result of the long, secretive days
              that people have to stay indoors. The ear of ...
            </p>
            <a routerLink="#" class="blog-btn">Read more</a>
          </div>
          <div class="blog-item">
            <img
              src="../../../../assets/images/img31.png"
              alt=""
              class="blog-img"
            />
            <h2 class="blog-title">Best Beach Outfits</h2>
            <span class="blog-time">April 01 , 2022</span>
            <p class="blog-desc">
              The denim resurgence is the result of the long, secretive days
              that people have to stay indoors. The ear of ...
            </p>
            <a routerLink="#" class="blog-btn">Read more</a>
          </div>
          <div class="blog-item">
            <img
              src="../../../../assets/images/img32.png"
              alt=""
              class="blog-img"
            />
            <h2 class="blog-title">Sweater For Winter</h2>
            <span class="blog-time">April 01 , 2022</span>
            <p class="blog-desc">
              The denim resurgence is the result of the long, secretive days
              that people have to stay indoors. The ear of ...
            </p>
            <a routerLink="#" class="blog-btn">Read more</a>
          </div>
        </div>
        <div class="blog">
          <div class="blog-item">
            <img
              src="../../../../assets/images/img33.png"
              alt=""
              class="blog-img"
            />
            <h2 class="blog-title">The best summer ...</h2>
            <span class="blog-time">April 01 , 2022</span>
            <p class="blog-desc">
              One may not need charts and graphs at this point to know that, in
              the past couple of years especially, the ...
            </p>
            <a routerLink="#" class="blog-btn">Read more</a>
          </div>
          <div class="blog-item">
            <img
              src="../../../../assets/images/img34.png"
              alt=""
              class="blog-img"
            />
            <h2 class="blog-title">Sweater For Winter</h2>
            <span class="blog-time">April 01 , 2022</span>
            <p class="blog-desc">
              One may not need charts and graphs at this point to know that, in
              the past couple of years especially, the ...
            </p>
            <a routerLink="#" class="blog-btn">Read more</a>
          </div>
          <div class="blog-item">
            <img
              src="../../../../assets/images/img35.png"
              alt=""
              class="blog-img"
            />
            <h2 class="blog-title">Best Beach Outfits</h2>
            <span class="blog-time">April 01 , 2022</span>
            <p class="blog-desc">
              One may not need charts and graphs at this point to know that, in
              the past couple of years especially, the ...
            </p>
            <a routerLink="#" class="blog-btn">Read more</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
