<footer class="footer">
  <div class="footer-contact">
    <div class="footer-item">
      <div class="header-logo">
        <a href="#" class="logo">DuyDepTrai</a>
      </div>
      <p>
        Let’s make something great together. We are trusted by over 5000+
        clients.
        <br />
        Join them by using our services and grow your business
      </p>
    </div>
    <div class="footer-item">
      <h3>Need Help ?</h3>
      <span>Support</span>
      <span>Get Started</span>
      <span>Terms of Use</span>
      <span>Privacy Policy</span>
    </div>
    <div class="footer-item">
      <h3>Learn more</h3>
      <span>About Us</span>
      <span>Features</span>
      <span>Customers</span>
      <span>Newsletter</span>
    </div>
    <div class="footer-item">
      <h3>Get in Touch</h3>
      <span
        >Phú Diễn, Bắc Từ Liêm, Hà Nội,
        <br />
        Việt Nam
      </span>
      <span>info@email.com</span>
      <span>+00 (123) 456 789 0</span>
    </div>
  </div>
  <div class="footer-bottom">
    <p>© 2023 DuyDepTrai. All rights reserved</p>
    <div class="footer-icon">
      <i class="bx bxl-facebook-circle"></i>
      <i class="bx bxl-instagram-alt"></i>
      <i class="bx bxl-twitter"></i>
    </div>
  </div>
</footer>
