<p>add-user works!</p>
<section id="content">
  <main>
    <div class="head-title">
      <div class="left">
        <h1>Update User</h1>
        <ul class="breadcrumb">
          <li>
            <a routerLink="#">Admin</a>
          </li>
          <li><i class="bx bx-chevron-right"></i></li>
          <li>
            <a class="active">User</a>
          </li>
          <li><i class="bx bx-chevron-right"></i></li>
          <li>
            <a class="active">Update</a>
          </li>
        </ul>
      </div>
      <a routerLink="#" class="btn-download">
        <i class="bx bxs-cloud-download"></i>
        <span class="text">Download PDF</span>
      </a>
    </div>
    <hr />
    <div class="form">
      <form [formGroup]="formEdit" (ngSubmit)="onHandleEdit()">
        <div class="d-flex align-items-center mb-3 pb-1">
          <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219"></i>
          <!-- <span class="h1 fw-bold mb-0">Logo</span> -->
        </div>

        <h1
          class="fw-normal mb-3 pb-3 h1 fw-bold mb-0"
          style="letter-spacing: 1px"
        >
          Form Edit
        </h1>

        <div class="form-outline mb-4">
          <label class="form-label" for="form2Example17">User name</label>
          <input
            type="text"
            id="form2Example17"
            class="form-control form-control-lg"
            name="name"
            formControlName="name"
          />
          <div
            style="color: red"
            *ngIf="
              formEdit.get('name')?.hasError('required') &&
              (formEdit.get('name')?.touched || formEdit.get('name')?.dirty)
            "
          >
            Name is Required
          </div>
          <div
            style="color: red"
            *ngIf="
              formEdit.get('name')?.hasError('pattern') &&
              (formEdit.get('name')?.touched || formEdit.get('name')?.dirty)
            "
          >
            Name is Required
          </div>
        </div>
        <div class="form-outline mb-4">
          <label class="form-label" for="form2Example17">Email</label>
          <input
            type="email"
            id="form2Example17"
            class="form-control form-control-lg"
            name="email"
            formControlName="email"
          />
          <div
            style="color: red"
            *ngIf="
              formEdit.get('email')?.hasError('required') &&
              (formEdit.get('email')?.touched || formEdit.get('email')?.dirty)
            "
          >
            Email is Required
          </div>
          <div
            style="color: red"
            *ngIf="
              formEdit.get('email')?.hasError('pattern') &&
              (formEdit.get('email')?.touched || formEdit.get('email')?.dirty)
            "
          >
            Email is Required
          </div>
        </div>
        <div class="form-outline mb-4">
          <label class="form-label" for="form2Example17">Password </label>
          <input
            type="password"
            id="form2Example17"
            class="form-control form-control-lg"
            name="password"
            formControlName="password"
          />
          <div
            style="color: red"
            *ngIf="
              formEdit.get('password')?.hasError('required') &&
              (formEdit.get('password')?.touched ||
                formEdit.get('password')?.dirty)
            "
          >
            Password is Required
          </div>
          <div
            style="color: red"
            *ngIf="
              formEdit.get('password')?.hasError('pattern') &&
              (formEdit.get('password')?.touched ||
                formEdit.get('password')?.dirty)
            "
          >
            Password is Required
          </div>
          <div
            style="color: red"
            *ngIf="
              formEdit.get('password')?.hasError('minlength') &&
              (formEdit.get('password')?.touched ||
                formEdit.get('password')?.dirty)
            "
          >
            Password must be more than 6 characters
          </div>
        </div>

        <div class="pt-1 mb-4">
          <button class="btn btn-primary" type="submit">Update user</button>
        </div>
      </form>
    </div>
  </main>
</section>
